$black: #000000;
$white: #FFFFFF;
$white85: rgba(255, 255, 255, 0.85);
$blue-link: #43ABF0;
$blue-logo: #42A9ED;
$blue: #3E9CDC;
$darkBlue: #286690;
$grey: #BBBBBB;
$lineGrey: #C4C4C4;
$darkGrey: #6F6D7B;
$btnDark: #2A2B30;
$backGroundForma: #272733;
$formaText: #272733;
$selectOpen: rgba(61, 64, 80, 0.85);
$footerColor: #3D4050;
$footerText: #C3C3C3;