$black: #000000;
$white: #FFFFFF;
$white85: rgba(255, 255, 255, 0.85);
$white70: rgba(255, 255, 255, 0.7);
$blue: #3E9CDC;
$darkBlue: #286690;
$grey: #BBBBBB;
$darkGrey: #6F6D7B;
$headerBackGround: rgba(16, 16, 29, 0.9);
$menuBackGround: rgba(61, 64, 80, 0.97);
$logoBlue: #42A9ED;
$linkBlue: #43ABF0;
$lineGrey: #C4C4C4;
$btnDark: #2A2B30;
$formaBackGround: #272733;
$formaText: #757575;
$selectOpen: rgba(61, 64, 80, 0.85);
$selectBackGround: rgba(39, 39, 51, 0.9);
$selectHover: rgba(39, 39, 51, 0.9);
$footerColor: #3D4050;
$footerText: #C3C3C3;