.header {
	position: fixed;
	z-index: 10;
	height: 100px;
	width: 100%;
	background: $headerBackGround;
	color: $white;
	font-weight: 600;
	font-size: 13px;

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 28px;
		line-height: 33px;
		text-transform: uppercase;

		span {
			color: $logoBlue;
		}

		a:hover {
			color: $white;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-item {
			margin-left: 60px;
			list-style-type: none;

			a {
				text-transform: uppercase;
			}
		}
	}
}