input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $white70;
	border: 1px solid $white;
	margin-top: 14px;
	width: 100%;
	border-radius: 10px/100%;

	&::-webkit-slider-runnable-track {
		border-radius: 10px/100%;
		height: 6px;
		background: $white70;
		border: 1px solid $white;
	}

	&::-webkit-slider-thumb {
		background: $logoBlue;
		border: 3px solid $darkBlue;
		border-radius: 100%;
		cursor: pointer;
		width: 37px;
		height: 37px;
		-webkit-appearance: none;
		margin-top: -16px;
	}

	&::-moz-range-track {
		border-radius: 10px/100%;
		height: 6px;
		background: $white70;
		border: 1px solid $white;
	}

	&::-moz-range-thumb {
		height: 6px;
		background: $white70;
		border: 1px solid $white;
		border-radius: 10px/100%;
		cursor: pointer;
	}
}