.shema {
	position: relative;

	&__elements {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__el {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 209px;
		margin-bottom: 33px;

		&:nth-child(5n)>.shema__line {
			display: none;
		}

		p {
			margin-top: 20px;
			color: $white;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
		}
	}

	&__circ {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;

		&_lg {
			width: 100px;
			height: 100px;
			background-color: $darkBlue;
		}

		&_md {
			width: 95px;
			height: 95px;
			background-color: $blue;
		}
	}

	&__line {
		position: absolute;
		top: 47px;
		right: -65px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 110px;

		div {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: $lineGrey;
		}
	}
}