@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.footer {
		&__wrapper {
			width: 960px;
			grid-template-columns: 206px 353px 280px;
			column-gap: 60px;
			align-items: center;
		}
	}
}

@media (max-width:992px) {
	.container {
		max-width: 720px;
	}

	.header {
		font-weight: 600;
		font-size: 11px;

		&__logo {
			font-size: 22px;
		}

		&__menu-item {
			margin-left: 35px;
		}
	}

	.banner {
		&__title_main {
			width: 100%;
		}
	}

	.footer {
		height: 100%;

		&__wrapper {
			width: 100%;
			grid-template-columns: 160px repeat(2, auto);
			align-items: flex-start;
			column-gap: 37px;
		}

		&__item {
			column-gap: 4px;
		}

		&__payment::before {
			left: -20px;
		}

		&__payment::after {
			right: -20px;
		}

		&__contact {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 8px;
		}
	}
}

@media(max-width:768px) {
	.container {
		max-width: 540px;
	}

	.hamburger {
		display: inline-block;
	}

	.header {
		&__menu_show {
			animation-name: headerin;
			animation-duration: 1s;
		}

		&__menu_hide {
			margin-left: -100%;
			animation-name: headerout;
			animation-duration: 1s;
		}

		&__menu {
			position: absolute;
			left: 0;
			top: 0;
			height: 100vh;
			width: 40%;
			background-color: $selectOpen;
			flex-direction: column;
			font-size: 18px;
			padding: 20px 0;
			justify-content: space-around;

			&-item {
				margin-left: 0px;
			}
		}
	}

	.banner {
		padding: 0 0 120px 0;

		&__title_main {
			padding-top: 159px;
			font-size: 35px;
			line-height: 40px;
		}

		&__text_main {
			margin-top: 45px;
		}

		&__btns_main {
			margin-top: 57px;
		}
	}

	.footer {
		&__payment {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 8px;
		}
	}
}

@media(max-width:575px) {
	.container {
		max-width: 95%;
		margin: 0 auto;
	}

	.header {
		&__logo {
			font-size: 17px;
		}

		&__menu {
			width: 55%;
			font-size: 12px;
			padding: 15% 0;


			&-item {
				margin-left: 0px;
			}
		}
	}

	.hamburger {

		&-inner,
		&-inner::before,
		&-inner::after {
			width: 35px;
			height: 3px;
		}
	}

	.banner {
		text-align: center;

		&__text ul>li::before {
			display: none;
		}

		&__btns {
			flex-direction: column;

			&_main {
				width: 100%;
			}
		}

		.btn {
			margin-bottom: 20px;
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
			row-gap: 20px;
		}

		&__block {
			text-align: center;
		}

		&__payment,
		&__contact {
			align-items: center;
		}

		&__payment::before,
		&__payment::after {
			display: none;
		}
	}
}