@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.order {
		&__shema {
			width: 960px;
		}
	}

	.shema {
		&__el {
			width: 170px;
		}

		&__line {
			right: -42px;
			width: 70px;
		}
	}

	.forma {
		grid-template-columns: repeat(3, 300px);

		&__range-text {
			grid-template-columns: 569px repeat(2, auto);
		}
	}

	.select__head,
	input[type=email],
	input[type=text],
	.forma__btn {
		width: 300px;
	}

	.footer {
		&__wrapper {
			width: 960px;
			grid-template-columns: 206px 353px 280px;
			column-gap: 60px;
			align-items: center;
		}
	}
}

@media (max-width:992px) {
	.container {
		max-width: 720px;
	}

	.header {
		font-weight: 600;
		font-size: 11px;

		&__logo {
			font-size: 22px;
		}

		&__menu-item {
			margin-left: 35px;
		}
	}

	.banner {
		padding: 0px 0px 150px 0;

		&__title_main {
			width: 100%;
		}

		&__text_main {
			margin-top: 50px;
		}
	}

	.order {
		padding-bottom: 100px;

		&__shema {
			width: 100%;
			margin: 50px auto 0 auto;
		}

		&__subtitle {
			margin-top: 15px;
		}
	}

	.shema {
		&__el {
			margin: 0 3px 30px 3px;

			p {
				margin-top: 11px;
				font-size: 13px;
				line-height: 17px;
			}
		}

		&__line {
			display: none;
		}
	}

	.forma {
		grid-template-columns: 245px repeat(2, 200px);

		&__range-text {
			grid-template-columns: 569px repeat(2, auto);
		}
	}

	.select__head {
		width: 250px;
	}

	input[type=email],
	input[type=text],
	.forma__btn {
		width: 200px;
	}

	.footer {
		height: 100%;

		&__wrapper {
			width: 100%;
			grid-template-columns: 160px repeat(2, auto);
			align-items: flex-start;
			column-gap: 37px;
		}

		&__item {
			column-gap: 4px;
		}

		&__payment::before {
			left: -20px;
		}

		&__payment::after {
			right: -20px;
		}

		&__contact {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 8px;
		}
	}
}

@media(max-width:768px) {
	.container {
		max-width: 540px;
	}

	.hamburger {
		display: inline-block;
	}

	.header {
		&__menu {
			position: absolute;
			left: -100%;
			top: 0;
			height: 100vh;
			width: 40%;
			background-color: $selectOpen;
			flex-direction: column;
			font-size: 18px;
			padding-top: 70px;
			justify-content: space-around;
			text-align: center;

			&-item {
				margin-bottom: 20px;
				margin-left: 0px;
			}

			&_show {
				animation-name: menuOpen;
				animation-duration: 0.8s;
				animation-iteration-count: 1;
				animation-direction: normal;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
				animation-delay: 0s;
			}
		}
	}

	.banner {
		padding: 0 0 120px 0;

		&__title_main {
			padding-top: 159px;
			font-size: 35px;
			line-height: 40px;
		}

		&__text_main {
			margin-top: 45px;
		}

		&__btns_main {
			margin-top: 57px;
		}
	}

	.order {
		&__forma {
			margin-top: 30px;
		}
	}

	.forma {
		grid-template-columns: repeat(3, 150px);
		column-gap: 20px;
		row-gap: 20px;

		&__range {
			font-size: 14px;
			line-height: 18px;

			&-text {
				grid-template-columns: auto repeat(2, 11px);
			}
		}


		.select__head,
		input[type=email],
		input[type=text],
		.forma__btn {
			width: 150px;
			padding: 8px 16px 8px 4px;
			font-weight: 400;
			font-size: 12px;
			display: flex;
			align-items: center;
		}

		.footer {
			&__payment {
				flex-direction: column;
				align-items: flex-start;
				row-gap: 8px;
			}
		}
	}

	input[type=range] {
		&::-webkit-slider-thumb {
			width: 25px;
			height: 25px;
			margin-top: -11px;
		}

	}

	.footer {
		&__payment {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 8px;
		}
	}
}

@media(max-width:575px) {
	.container {
		max-width: 95%;
		margin: 0 auto;
	}

	.header {
		&__logo {
			font-size: 17px;
		}

		&__menu {
			width: 55%;
			font-size: 12px;
			padding: 15% 0;


			&-item {
				margin-left: 0px;
			}
		}
	}

	.hamburger {

		&-inner,
		&-inner::before,
		&-inner::after {
			width: 35px;
			height: 3px;
		}
	}

	.banner {
		text-align: center;

		&__text ul>li::before {
			display: none;
		}

		&__btns {
			flex-direction: column;

			&_main {
				width: 100%;
			}
		}

		.btn {
			margin-bottom: 20px;
		}
	}

	.forma {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		width: 80%;

		.select__head,
		select,
		input[type=email],
		input[type=text],
		.forma__btn,
		.forma__item {
			width: 100%;
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
			row-gap: 20px;
		}

		&__block {
			text-align: center;
		}

		&__payment,
		&__contact {
			align-items: center;
		}

		&__payment::before,
		&__payment::after {
			display: none;
		}
	}
}